.main{
  background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: fit;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: transparent;
    background-image: linear-gradient(0deg,#000 0,transparent 30%);
}